<% if zip_code %>
  <span class="current-conditions-in-location-message"><i class="from-cache-icon bi <%= from_cache ?  'bi-thermometer-high' : 'bi-thermometer-low' %>"></i> Current Conditions in <%= zip_code %></span>
<% end %>
